#scroll_up_button {
    z-index: 1000;
    opacity: 0%;
    position: fixed;
    bottom: 30px;
    left: 30px;
    transition: opacity .5s;
    border-radius: 10px;
    user-select: none;
}

#scroll_up_button.show-btn:hover {
    transition: opacity .5s;
    opacity: 100%;
}

#scroll_up_button.show-btn {
    transition: opacity .5s;
    opacity: 40%;
}