.element {
    border: solid !important;
    border-color: transparent !important;
    transition: border-color .3s;
  }
  .ui-selecting {
    transition: border-color .3s;
    border-color: currentColor !important;
  }
  .border-always {
    border-color: currentColor !important;
  }
  .border-hover:hover {
    border-color: currentColor !important;
  }
  .border-dashed {
    border-style: dashed !important;
  }
  .border-inset {
    border-style: inset !important;
  }
  .border-outset {
    border-style: outset !important;
  }
  .border-double {
    border-style: double !important;
  }